
.topdiv {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.orgleft {
  width: 30px;
}

.orgnode {
  border-left: 3px solid #1C36FF;
  padding: 0;
  margin: 0;
  border-spacing: 0;
}

.orgnode2 {
  padding: 0;
  margin: 0;
  border-spacing: 0;
}

.orgnodebg {
  background: #84C1FF;
  border-radius: 5px;
  border: 1px solid #000000;
  display: inline-block;
  padding: 5px;
  font-weight: bold;
}

.orgnodebg:hover .orgicon {
  display: block;
}

.orgicon {
  display: none;
}

.frmlbl {
  font-weight: bold;
}

.subbtn {
  font-size: 16px;
  font-weight: bold;
}

.subbtncell {
  text-align: center;
}

.suberror {
  color: #FF0000;
  text-align: center;
}

.nodeinfotbl {
  width: 400px;
}

.infocell {
  width: 100px;
}

.dispElem {
  display: inline;
}

.hideElem {
  display: none;
}